@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nulshock);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-nulshock), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nulshock), sans-serif;
}
